In [1]:
# 문자열 자료형
a = "Hello world"
b = 'Python is fun'
c = """life is too short, You need python"""
d = '''Life is too short, You need python'''

print(a)
print(b)
print(c)
print(d)

Hello world
Python is fun
life is too short, You need python
Life is too short, You need python

In [3]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [83]:
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [5]:

say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

In [6]:
food = 'Python\'s favorite food is perl'
food

'"Python is very easy." he says.'

In [8]:
food = "영수가 말했다. \"나 밥 먹고 싶어\""
food

'영수가 말했다. "나 밥 먹고 싶어"'

In [7]:
say = "\"Python is very easy.\" he says."
say

'"Python is very easy." he says.'

In [81]:
multiline = "Life is too short\nYou need python" # \n은 new line
multiline

'Life is too short\nYou need python'

In [12]:
multiline='''
Life is too short
You need python
'''
print(multiline)
multiline

Life is too short
You need python

'\nLife is too short\nYou need python\n'

In [13]:
a = "하호호\t탭이 되나"
print(a)
a = "하호호\\탭이 되나?"
print(a)

하호호	탭이 되나
하호호\탭이 되나?

In [14]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [15]:
a ="python"
a *2

'pythonpython'

In [16]:
print("ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ")

ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ

In [17]:
print("z" * 55)

zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz

In [18]:
a = "Life is too short"
len(a) # len은 length의 악자

17

In [31]:
a = "Life is too short, You need Python"
print(a[3]) # e
print(a[5]) # i
print(a[7]) # 빈칸
print(a[9]) # o
print(a[0]) # L

print(a[-1]) # n 뒤에서 부터 첫번째 문자
print(a[-2]) # o 뒤에서 부터 두번째 문자

n
o

In [26]:
a = "Chapssal"
b = " is very cute!"
a + b

'Chapssal is very cute!'

In [43]:
for a in ["Chapsssal", "is", "cute"]:
    print(a)

Chapsssal
is
cute

In [27]:
head = "Chapssal"
body = "is"
tail = "very\tcute"
head + body + tail

'Chapssalisvery\tcute'

In [37]:
a = "Chapssal is so very cute!"
b = a[7] + a[13] + a[15] + a[16]
b
a[0:8]

'Chapssal'

In [33]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [34]:
#슬라이싱
a = "Life is too short, You need Python"
a[0:4] # 0 ~ 4

'Life'

In [42]:
a = "Life is too short, You need Python"
a[19:] # 19 ~ 끝
a[:17] # 시작 ~ 16
a[:] # 시작 ~ 끝
a[19 :-7]

'You need'

In [39]:
a = "Chapssal is so very cute!"
a[12:]

'so very cute!'

In [48]:
a = "Chapssal is so very cute!"
name = a[:8]
a = a[12:]
name
a

'so very cute!'

In [52]:
a = "20230331Rainy"
date = a[:8]
weater = a[8:]
date
weater
year = a[:4]
day = a[4:8]
year
day

'0331'

In [54]:
a = "Pithon"
a[1]

'i'

In [57]:
b = a[:1] + 'y' + a[2:]
b

'Python'

In [62]:
"I eat %d applies" % 3 # 숫자만 가능 문자는 오류, 숫자르 넣을 경우 %d를 사용하여 포멧팅

'I eat 3 applies'

In [64]:
"I eat %s applies" % "삼" #문자를 넣을 경우 %s 를 사용하여 포멧팅

'I eat 삼 applies'

In [84]:
"Chapssal has %s cute gauge" % "120%"

'Chapssal has 120% cute gauge'

In [65]:
number = 3
"I eat %d apples." % number # 많이 사용함

'I eat 3 apples.'

In [69]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [85]:
age = 1
gauge = "120%"
"Chapssal is %d years old. And she has %s cute gauge" % (age, gauge)

'Chapssal is 1 years old. And she has 120% cute gauge'

In [75]:
"Error is %d%%" % 98

'Error is 98%'

In [80]:
"Chaspssal has %d%% cute gauge" % 120

'Chaspssal has 120% cute gauge'

In [77]:
"I have %s apples" % 3

'I have 3 apples'

In [78]:
"Rate is %s" % 3.234

'Rate is 3.234'

In [91]:
for a in ["Chapssal is cute", "She is 1 year", "She has 120% cute gauge"]:
    print(a)

Chapssal is cute
She is 1 year
She has 120% cute gauge

In [93]:
a = "Chapssal is cute\nShe is 1 year\nShe has 120% cute gauge"
print(a)

Chapssal is cute
She is 1 year
She has 120% cute gauge

In [103]:
"%10s" % "hi"

'        hi'

In [105]:
"%-10sjane" % 'hi'

'hi        jane'

In [62]:
"%0.4f" % 3.42134234

'3.4213'

In [107]:
"%10s chapssal" % "hi"

'        hi chapssal'

In [108]:
"%10.4f" % 312558.42134234

'312558.4213'

In [61]:
"I eat {0} apples".format("five")

'I eat five apples'

In [2]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [4]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [5]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3) # 문자 넘버링 잘 맞출 곳

'I ate 10 apples. so I was sick for 3 days.'

In [60]:
"{0:<10}".format("hi")

'hi        '

In [7]:
"{0:>10}".format("hi")

'        hi'

In [8]:
"{0:^10}".format("hi")

'    hi    '

In [9]:
"{0:=^10}".format("hi")

'====hi===='

In [11]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [13]:
"{0:!<10}".format("Chapssal")

'Chapssal!!'

In [14]:
"{0:=^10}" . format("^^")

'====^^===='

In [22]:
"{0:=^11}" . format("o.o")

'====o.o===='

In [17]:
"{0:=^9}" . format("^0^")

'===^0^==='

In [18]:
"{0:~^10}" . format("^^")

'~~~~^^~~~~'

In [23]:
"{0:w^10}" . format("^^")

'wwww^^wwww'

In [27]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}살 입니다.'

'나의 이름은 홍길동입니다. 나이는 30살 입니다.'

In [26]:
name = '찹쌀이'
age = 1
f'나의 이름은 {name}입니다. 나이는 {age}살입니다.'

'나의 이름은 찹쌀이입니다. 나이는 1살입니다.'

In [29]:
name = '콩떡이'
age = 1
f'나의 이름은 {name}입니다. 나이는 {age}살입니다.'

'나의 이름은 콩떡이입니다. 나이는 1살입니다.'

In [30]:
name = '찐빵이'
age = 1
f'나의 이름은 {name}입니다. 나이는 {age}살입니다.'

'나의 이름은 찐빵이입니다. 나이는 1살입니다.'

In [31]:
name = '쿠키'
age = 1
f'나의 이름은 {name}입니다. 나이는 {age}살입니다.'

'나의 이름은 쿠키입니다. 나이는 1살입니다.'

In [57]:
age = 1
f'찹쌀이는 내년이면 {age + 1}살이 된다.'

'찹쌀이는 내년이면 2살이 된다.'

In [35]:
d = {'name':'찹쌀이', 'age':1}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 찹쌀이입니다. 나이는 1입니다.'

In [42]:
f'{"hi":<10}'  # 왼쪽 정렬

'hi        '

In [37]:
f'{"hi":>10}'  # 오른쪽 정렬

'        hi'

In [45]:
d = {'name': '쿠키', 'age':1}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 쿠키입니다. 나이는 1입니다.'

In [46]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [47]:
"{0:10.4f}".format(y)

'    3.4213'

In [48]:
"{{ and }}".format()

'{ and }'

In [49]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [53]:
age = 23
f'나는 내년이면 {age + 1}살이 된다.'

'나는 내년이면 24살이 된다.'

In [58]:
name = '찐빵이'
age = 1
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 찐빵이입니다. 나이는 1입니다.'

In [56]:
age = 1
f'콩떡이는 내년이면 {age + 1}살이 된다.'

'콩떡이는 내년이면 2살이 된다.'

In [54]:
# print 함수 
# len 함수
# format 함수

a = "hobby"
a.count("ob")#1개 문자열 이상의 것 count값

1

In [55]:
a = "hobby"
a.count("oa")

0

In [59]:
a =" python is the best choice"
print(a.find('b'))
print(a.find('k'))
print(a.find('t'))

15
-1
3

In [63]:
a = "Life is too short"
a.index('t') #a.index('k') 불가

8

In [79]:
# 문제1. format 함수 또눈 f 문자열을 사용해 !!!python!!!문자열 출력을 해보세요
"{0:!^12}".format("python")
# print("{0:!^12}".format("python"))

'!!!python!!!'

In [69]:
",".join('abcd')

'a,b,c,d'

In [70]:
a = "hi"
a.upper()

'HI'

In [71]:
a = "HI"
a.lower()

'hi'

In [72]:
a = " hi "
a.lstrip()

'hi '

In [73]:
a= " hi "
a.rstrip()

' hi'

In [74]:
a = " hi "
a.strip()

'hi'

In [87]:
# 문제 2 
#""" 
# 문자열 인덱싱 "python is good" 문자열을 string 변수에 저장하고 2번째 위치에 있는 문자 y를 출력하세요
#"""
string = "python is good"
string[1]

'y'

In [91]:
# 문제 3
#"""
# 문자열 슬라이싱 "pythonis good" 문자열 string 변수에 저장하고 문자 good를 출력하세요
#"""
string = "python is good"
print(string[-4:]) # print(string[10:]) or [10:15]

good

In [90]:
# 문제 4
#"""
# Hi 문자열으,ㄹ 변수에 저장하고 10번 반복하여 출력하세요 (문자열 연산)
#"""
a = "Hi"
print(a*10)

HiHiHiHiHiHiHiHiHiHi

In [93]:
# 문제 5
#"""
# 문자열 인덱싱 -url변수에 "www.naver.com" 주소를 저장하고 규칙에 따라 비밀번호를 만들어 pw변수에 저장하고 출력하세요
# 비밀번호 생성 규칙
# 1.홀수 자리의 위치에 있는 글자들과 마지막에 "!!"를 더하여 비밀번호를 생성한다. (단, 위치 값은 0부터 시작한다.)
#"""
url = "www.naver.com"
pw = url[1] + url[3] + url[5] + url[7] + url[9] + url[11]  + "!!"
print(pw)

w.ae.o!!

In [101]:
a = " hi "
a.lstrip()

'hi '

In [97]:
a = " hi "
a.rstrip()

' hi'

In [98]:
a = " hi "
a.strip()

'hi'

In [100]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [102]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

In [104]:
# 문제 6 
# 아래의 전화번호에서 대쉬('-')를 제거 하고 출력하세요
phone_number = "010-1111-2222"
phone_number .replace("-", "")

'01011112222'

In [106]:
# 문제 7
# 아래의 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요
string = "abcdef2a345a53a"
string .replace("a", "A")

'Abcdef2A345A53A'

In [107]:
a = "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [ ]:
b = "a:b:c:d"
b.split(':')

In [108]:
a = "Chapssal is so cute"
a.split()

['Chapssal', 'is', 'so', 'cute']

In [109]:
a = "c:h:a:p:s:s:a:l"
a.split()

['c:h:a:p:s:s:a:l']

In [110]:
string = "abcdef2a345a53a"
string.upper()

'ABCDEF2A345A53A'

In [111]:
a = 'hi'
a.upper()

'HI'

In [116]:
a = 'hi'
a = a.upper() # 나중에 수정 시에는 꼭 변수 지정해 줄 것

In [117]:
a

'HI'