In [9]:
# 튜플 자료형
# cpu 복잡한거 gpu 단순한 사칙연산
# 바꿀 수 없다. 바뀔 수 있는 것들은 리스트에, 비뀔 가능성이 없는 것은 튜플에 담는다
t1 = ()                           # 빈 튜플
t2 = (1,)                         # 1원소를 가진 튜플
t3 = (1, 2, 3)                    # 1, 2, 3 원소를 가진 튜플
t4 = 1, 2, 3                      # 1, 2, 3 원소를 가진 튜플
t5 = ('a', 'b', ('ab', 'cd'))     # 튜플 안의 또 다른 튜플을 가진 튜플
# t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 쉼표(,)를 반드시 붙여야 한다
t6 = tuple([1])                   # 1 정수형 불가 iterable(반복)이 되는 값을 인수로 가짐
t7 = (1)                          # 1개는 숫자 혹은 문자형으로 표시
t8 = ("1")                        # 1개는 숫자 혹은 문자형으로 표시

In [5]:
print(t1)
print(t2)
print(t6)
print(t7)
print(t8)

()
(1,)
(1,)
1
1

In [8]:
# 변수의 형태를 볼 수 있는 type 함수
a = 1               # int
b = 1               # str
c = [1]             # list
d = (1,)            # tuple
e = (1)             # int
  
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'int'>

In [11]:
# 튜플 요소값을 삭제하려 할때 error가 발생
# t1 = (1, 2, 'a', 'b')
# del t1[0]
# t1 = (1, 2, 'a', 'b')
# t1[0] = 'c'

In [12]:
# 튜플 인덱싱
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [13]:
t1[3]

'b'

In [14]:
# 튜플 슬라이싱
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [15]:
# 튜플 더하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [16]:
# 튜플 곱하기
t2 = (3, 4)
t3 = t2 * 3
t3

(3, 4, 3, 4, 3, 4)

In [18]:
# 튜플 길이 구하기
t1 = (1, 2, 'a', 'b')
len(t1)

4

In [33]:
# 문제 1
# my_variable 이름의 비어있는 튜플 생성하기
my_variable = ()
my_variable = tuple()

In [28]:
# 문제 2
# 숫자 10이 저장된 튜플 생성하기
t1 = (10,)
print(t1)

(10,)

In [34]:
# 문제 3
# 아래와 같이 t에는 1,2,3,4 데이터가 바인딩되어 있는데 t의 데이터 타입은 무엇인가?
# t = 1,2,3,4
t = 1,2,3,4
type(t)

tuple

In [35]:
# 문제 4
# 변수t에는 아래와 같은 값이 저장되어 있는데 변수 t가 ('A','b','c')튜플을 가리키도록 수정하시오
# t = ('a','b','c')
t = ('a','b','c')
# t(0) = 'A' # error
t = ('A','b','c')
t

('A', 'b', 'c')

In [36]:
# 문제 5
# 아래 튜플을 리스트로 변환하라(list 함수 사용)
# interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [38]:
# 문제 6
# 아래 리스트를 튜플로 변환하라(tuple 함수 사용)
# 
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [40]:
t1 = (2, 3)
#t1.append(4)
#t1.insert(4)
t2 = (1, 2)
t1 + t2

(2, 3, 1, 2)

In [42]:
love = ["찹쌀이", "콩떡이", "찐빵이"]
tuple(love)

('찹쌀이', '콩떡이', '찐빵이')

In [43]:
love = ("찹쌀이", "콩떡이", "찐빵이")
list(love)

['찹쌀이', '콩떡이', '찐빵이']

In [45]:
love = ["찹쌀이", "콩떡이", "찐빵이"]
type(love)

list

In [46]:
love = ("찹쌀이", "콩떡이", "찐빵이")
type(love)

tuple

In [48]:
love = ("찹쌀이", "콩떡이", "찐빵이")
love = ("쿠키", "콩떡이", "찐빵이")
print(love)

('쿠키', '콩떡이', '찐빵이')

In [1]:
t1 = (2, 2, 3)
t1

(2, 2, 3)