In [172]:
# 리스트(List):순서, 중복, 수정, 삭제 가능->[]
# 튜플(Tuple): 순서, 중복 가능. but 수정, 추가, 삭제 불가능 -> ()
# 딕셔너리(Dictionary): 순서, 중복 없음. 수정, 삭제 가능 -> {}
# 집합 (Set): 순서, 중복 불가능. 추가, 삭제 가능 -> set()

# 리스트 상세설명

In [2]:
odd = [1, 3, 5, 7, 9]
odd

[1, 3, 5, 7, 9]

In [3]:
a = []                                 # 빈 리스트
a = list()                             # 빈 리스트
b = [1, 2, 3]                          # 숫자형만을 가진 리스트
b = list[1, 2, 3]                      # 숫자형만을 가진 리스트
c = ['Life', 'is', 'too', 'short']     # 문자열만을 가진 리스트
d = [1, 2, 'Life', 'is']               # 숫자열과 문자열을 모두 가진 리스트
e = [1, 2, ['Life', 'is']]             # 리스트안에 또 다른 리스트를 가진 리스트

In [4]:
# 리스트 인덱싱
a = [1, 2, 3]
a

[1, 2, 3]

In [6]:
a[0]

1

In [7]:
a[0] + a[2]

4

In [8]:
a[-1]

3

In [9]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [16]:
print(a[0])   # 1
print(a[-1])  # ['a', 'b', 'c']
print(a[3])   # ['a', 'b', 'c']

1
['a', 'b', 'c']
['a', 'b', 'c']

In [17]:
a[-1][0]  # -1 위치의 0번째 자리 -> 'a'

'a'

In [18]:
a[-1][1]  # -1 자리에 1번째자리 -> 'b'

'b'

In [22]:
a = [1, 2, ['a', 'b', ['Life', 'is']]] 
# 1 -> 0, 2 ->1
# ['a', 'b', ['Life', 'is']] -> 2
# ['Life', 'is'] -> a[2][2]
# 'Life' -> a[2][2][0]

In [20]:
a[2][2][0]

'Life'

In [25]:
# 리스트의 슬라이싱
a = [1, 2, 3, 4, 5]
a[0:2] # 인덱스 번호가 0~1까지 또다른 리스트를 가져옴

[1, 2]

In [24]:
a = "12345"
a[0:2]

'12'

In [28]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
print(b) # [1, 2]
print(c) # [3, 4, 5]

[1, 2]
[3, 4, 5]

In [34]:
#중첩된 리스트에서 슬라이싱하기
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5])     # [3, ['a', 'b', 'c'], 4]
print(a[3][:2])   # ['a', 'b']

[3, ['a', 'b', 'c'], 4]
['a', 'b']

In [64]:
# 문제 1
# a - [1, 2, ,3, 4, 5] 리스트에서 슬라이싱 기법을 사용하여  리스트 [2, 3]을 출력하세요
a = [1, 2, 3, 4, 5] 
a[1:3]

[2, 3]

In [47]:
# 리스트 더하기(+)
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [48]:
# 리스트 반복하기(*)
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [49]:
# 리스트 길이 구하기
len(a)

3

In [55]:
str(a[2]) + "hi" 
# a[2] + "hi" -> 이건 오류, 'a'를 'str' 이라는 문자로 바꿔야 오류 사라짐
# str 함수 : 숫자형 -> 문자열로 바꿔줌

'3hi'

In [57]:
# 리스트의 값 수정하기
a = [1, 2, 3]
print(a[2])      # 3

a[2] = 4
print(a[2])      # 4

3
4

In [59]:
# del(delete) 함수를 사용해 리스트의 요소 삭제하기
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [63]:
a = [1, 2, 3, 4, 5]
del a[2:]           # del 객체
a

[1, 2]

In [65]:
# 객체지향프로그램밍

In [80]:
# 라스트에 요소를 추가하기 - append
a = [1, 2, 3]
a.append(4)    # a를 추가하여 실행 후에는 아래부터 2번 실행 되기 때문에 a 지울 것

In [81]:
a.append([5, 6])    # 두번 실행됨다.

In [82]:
a

[1, 2, 3, 4, [5, 6]]

In [84]:
del a[4]

In [83]:
a

[1, 2, 3, 4, [5, 6]]

In [77]:
a = [1, 2, 3, 3, 4]
a

[1, 2, 3, 3, 4]

In [79]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [85]:
# 리스트 정렬 - sort
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [89]:
a = ['ad', 'ab', 'ba']     # 가장 왼쪽에 있는 문자를 기준으로 정렬 가장 왼쪽에 있는 문자가 같을 시 그 다음 문자로 판단
a.sort()
a

['ab', 'ad', 'ba']

In [90]:
# 리스트 뒤집기 - reverse
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [93]:
a = ['ad', 'cb', 'ca']
a.reverse()
a

['ca', 'cb', 'ad']

In [91]:
# 인덱스 변환 - index
a = [1, 2, 3]
a.index(3)

2

In [99]:
a = [1, 2, 3]
print(a.index(3))
print(a.index(1))
# a. index(0) 숫자 0을 가진게 없기 때문에 error

2
0

In [98]:
# 리스트에 요소 삽입 - insert
a = [1, 2, 3]
# insert (인수 1, 인수 2) -> 인수 1: index 번호 인수 2 : 값
a.insert(0, 4)
a                # 0번째 index에 4값을 넣음

[4, 1, 2, 3]

In [102]:
a.insert(3, 5)   # 3번째 index에 5값을 넣음

In [103]:
a

[1, 2, 3, 5]

In [105]:
# 리스트 요소 제거 - remove
# del vs remove del 객체를 제거하는 것이고 remove는 인수 즉, 값을 제거 하는 것이다.
a = [1, 2, 3, 1, 2, 3]
a.remove(3)         # 리스트에서 첫번째 값이 x가 나오는 것을 삭제
a

[1, 2, 1, 2, 3]

In [109]:
# a.remove(4)         리스트 안에 4가 없어서 error

In [111]:
# 리스트 요소 끄집어 내기 - pop
a = [1, 2, 3]
a.pop()

3

In [113]:
a  # 나머지 요소

[1, 2]

In [115]:
# 리스트에 포함된 요소 x의 개수 세기 - count
a = [1 ,2 ,3 ,1]
a.count(1)

2

In [116]:
a.count(2)

1

In [117]:
# 리스트 확장 - extend
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [118]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [120]:
a.extend([4, 5])     # [1 ,2 ,3 ,4 ,5 ,6 ,7 ,4 ,5] -> a+= [4, 5]
# a += [4, 5]는 a = a + [4, 5]

In [121]:
# 문제 2
# "아이언맨", "헐크", "스파이더맨" 3명의 학생으로 구성된 std_list를 만들고 한명씩 출력하세요
std_list = ["아이언맨", "헐크", "스파이더맨"]
print(std_list[:])

['아이언맨', '헐크', '스파이더맨']

In [147]:
# 문제 3
# 두 명의 학생이 전학을 왔습니다. 첫 번째는 "타노스", 두 번째는 "앤트맨"입니다. 
# std_list 뒤에 두 명을 추가하고 std_list를 출력하세요.
std_list = ["아이언맨", "헐크", "스파이더맨"]
std_list.append("타노스")
std_list.append("앤트맨")
std_list
# append 뒤에는 숫자 밖에 못 온다

['아이언맨', '헐크', '스파이더맨', '타노스', '앤트맨']

In [144]:
# 문제 4
# "타노스가" "다노스"로 개명을 했어요. std_list에서 값을 변경하여 std_list를 출력하세요.
std_list = ["아이언맨", "헐크", "스파이더맨", "타노스", "앤트맨"]
std_list[3] = "다노스"
std_list

['아이언맨', '헐크', '스파이더맨', '다노스', '앤트맨']

In [134]:
# 문제 5
# 반장 선거를 해서 2번 위치에 있는 학생이 당선이 되었네요. 누구인지 출력하세요.
std_list = ["아이언맨", "헐크", "스파이더맨", "타노스", "앤트맨"]
print(std_list[1])

헐크

In [150]:
# 문제 6
# 2~4번 위치에 있는 학생 3명이 오늘 청소 당번이에요. 청소 당번 학생들을 출력해 주세요.
print(std_list[1:4]) # index 위치가 1~3인 학생

['헐크', '스파이더맨', '타노스']

In [140]:
# 문제 7
# "헐크" 학생이 전학을 갔어요. std_list에서 헐크 학생을 삭제하고 std_list를 출력하세요.
std_list = ["아이언맨", "헐크", "스파이더맨", "타노스", "앤트맨"]
del std_list[1]
std_list

['아이언맨', '스파이더맨', '타노스', '앤트맨']

In [143]:
# 문제8
# 학생들을 ㄱㄴㄷ 순으로 위치를 바꾸려고 합니다. std_list를 정렬하여 출력하세요.
std_list = ["아이언맨", "스파이더맨", "타노스", "앤트맨"]
std_list.sort()
std_list

['스파이더맨', '아이언맨', '앤트맨', '타노스']

In [155]:
a = ["찹쌀이", "콩떡이", "찐빵이", "쿠키"]
a.sort()
a

['찐빵이', '찹쌀이', '콩떡이', '쿠키']

In [158]:
a = ["찹쌀이", "콩떡이", "찐빵이", "쿠키"]
a.append("미조레")
a

['찹쌀이', '콩떡이', '찐빵이', '쿠키', '미조레']

In [159]:
a = ["찹쌀이", "콩떡이", "찐빵이", "쿠키"]
a.reverse()
a

['쿠키', '찐빵이', '콩떡이', '찹쌀이']

In [162]:
a = ["찹쌀이", "콩떡이", "찐빵이", "쿠키"]
a.index("찹쌀이")

0

In [164]:
a = ["찹쌀이", "콩떡이", "찐빵이", "쿠키"]
a.insert(0, "히프물범")
a

['히프물범', '찹쌀이', '콩떡이', '찐빵이', '쿠키']

In [168]:
a = ["하프물범", "찹쌀이", "콩떡이", "찐빵이", "쿠키"]
a.remove("하프물범")
a

['찹쌀이', '콩떡이', '찐빵이', '쿠키']

In [169]:
a = ["찹쌀이", "콩떡이", "찐빵이", "쿠키"]
a.pop()

'쿠키'

In [170]:
a

['찹쌀이', '콩떡이', '찐빵이']

In [171]:
a = ["찹쌀이", "콩떡이", "찐빵이", "쿠키"]
a.count("찹쌀이")

1