In [ ]:
# 그 이전 학습 복습 내용
# [] -> 리스트(list): 추가, 수정, 삭제, 순서, 중복 가능
# () -> 튜플(tuple): 추가, 수정, 삭제 불가능. 순서, 증복 가능
# {} -> 딕셔너리(dictonary): 추가, 수정, 삭제 가능. 순서, 중복 불가능

In [41]:
# 집합 자료형 (set)
# 1.중복을 허용하지 않는다
# 2. 순서가 없다.(Unordered)
s1 = set([1, 2, 3])
# s1 = set({1, 2, 3})
# s1 = set((1, 2, 3))
s1

{1, 2, 3, 4, 5}

{1, 2, 3}

In [43]:
type(set(a))

set

In [5]:
s1 = set([1, 2, 3])
print(s1)
s2 = {1, 2, 3}
print(s2)

{1, 2, 3}
{1, 2, 3}

In [6]:
s2 = set("Hello")
s2                  # 증복을 허용하지 않는다.

{'H', 'e', 'l', 'o'}

In [8]:
s2 = {2, 2, 3}
s2

{2, 3}

In [10]:
s2 = {1, 2, 2, 3}
print(s2)
s3= (1, 2, 2, 3)
print(s3)

{1, 2, 3}
(1, 2, 2, 3)

In [11]:
s3[0]  # 리스트
# s2[0]  집합  ->error

1

In [13]:
s2 = {1, 2, 2, 3}
l2 = list(s2)
print(l2[0])
print(l2)

1
[1, 2, 3]

In [16]:
s2 = {1, 2, 2, 3}
t2 = tuple(s2)
print(t2)
print(t2[0])

(1, 2, 3)
1

In [17]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [19]:
# 교집합 구하기
print(s1 & s2)
s1.intersection(s2)

{4, 5, 6}

{4, 5, 6}

In [20]:
# 합집합 구하기
print( s1 | s2 ) # shift + 원화
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [21]:
# 차집합 구하기
print(s1-s2) # s1기준으로 s2를  원소를 뺀다.
print(s2-s1) # s2기준으로 s1를  원소를 뺀다.
print(s1.difference(s2))  # s1기준으로 s2를 원소를 뺀다.
print(s2.difference(s1))  # s2기준으로 s1를 원소를 뺀다.

{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

In [22]:
# 집합 자료형 관련 함수
# 1. add 함수 비슷한거 : append, insert
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [24]:
# 집합 자료형 관련 함수
# 2. 값 여러 개 추가하기 -update
s1 = set([1, 2, 3])
s1. update([4, 5, 6])   
s1

{1, 2, 3, 4, 5, 6}

In [25]:
s1 = set([1, 2, 3])
s1. update([3, 4, 5, 6])   # 중복을 허용 X , 같은 것 무시
s1

{1, 2, 3, 4, 5, 6}

In [26]:
# 집합 자료형 관련 함수
# 3. 특정 값 제거하기
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

In [32]:
# 문제 1
# 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해서 적어보시오
a = 13
# a % 2의 나머지가 0인것은 짝수이고 나머지가 1인 것은 홀수
a= a % 2
a

1

In [34]:
# 문제 2
# 주민등록번호 뒷자리 맨 첫번째 숫자가 성별을 나타낸다. (ex) 880211-1345211
# 주민등록번호에서 성별을 나타내는 숫자를 출력
age = "880211-1345211"
print(age[7])

1

In [40]:
# 문제 3
# a 리스트에서 중복 숫자를 제거 해보자
# a = [ 1, 1, 1, 2, 3, 3, 3, 4, 4, 5]
# 첫번쩨 코드 -> a 리스트를 집합 자료형으로 변환하는 코드 작성
a = [ 1, 1, 1, 2, 3, 3, 3, 4, 4, 5]
a = set(a)
# 두번째 코드 -> 집합 자료형을 리스트 자료형으로 다시 변환하는 코드 작성
a = set(a)
a

{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}